@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

body {
    background-color: var(--light-color);
}

.navbar {
    background-color: var(--dark-color);
    color: var(--light-color);
}